body{
font-style:italic;
}
.big{
background-color:#FFC0CB;
width:440px;
height:300px;
}
h1{
text-align:center;
font-weight:bolder;
font-size:2.2em;
}
.left{
position:relative;
float:left;
margin-left:10px;
margin-bottom:10px;
display:inline-block;
}
.right{
position:relative;
float:right;
margin-right:10px;

}
.selectwidth{
width:200px;
}
.smallwidth{
width:95px;
}
.space{
padding-left:5px;
padding-right:35px;
}
.cellspacing{
margin-bottom:20px;
}
.smallspace{
margin-bottom:5px;
}
.button{
margin-top:5px;
margin-left:11px;
}