body{
background-color:#3B5997;
}
header>label{
font-size:10em;
font-weight:bold;
color:white;
margin:300px
}
header>span{
margin-left:-290px;
font-size:2em;
color:white;
}
header>h1{
font-size:3em;
color:white;
margin-left:470px;
}
header>h2{
font-size:2em;
color:white;
margin-left:400px;
}
fieldset{
position:relative;
display: inline-block;
height:220px;
border-radius:10px;
padding-top:45px;
padding-bottom:10px;
}
legend{
color:white;
margin-left:130px;
font-size:1.2em;
}
.firstsix{
padding-left:10px;
padding-top:5px;
padding-bottom:5px;
border-radius:5px;
margin:3px;
width:180px;
}
.colorwhite{
color:white;
margin:3px;
}
.seventh{
width:230px;
}
.space{
color:white;
margin-right:10px;
}
.secondfieldset{
position:relative;
display: inline-block;
height:253px;
padding-top:10px;
}
.secondwidth{
padding-left:10px;
padding-top:5px;
padding-bottom:5px;
border-radius:5px;
margin:3px;
width:180px;
}
.thirdwidth{
padding-left:10px;
padding-top:5px;
padding-bottom:5px;
border-radius:5px;
margin:3px;
width:100px;
}

.button{
height:50px;
width:300px;
border-radius:10px;
font-size:1em;
color:#3B5997;
margin-top:10px;
margin-left:50px;
}
.button2{
height:50px;
width:300px;
border-radius:10px;
font-size:1em;
color:#3B5997;
margin-top:10px;
margin-left:280px;
}









